
/* UTILITIES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 
@import url('post_style.css');
@import url('footer.css');

.main{
display:grid;
grid-template-columns:600px 600px;
grid-gap:15px;
justify-content:center;
height:30vw;
}

.box{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 15px;
    background: white;
    margin:2em;
}

#description{
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
}

#ca_image{
    background-image: url("images/ca_image.jpg");
}


.features{
      display:grid;
      grid-template-columns:250px 250px 250px 250px;
      justify-content:space-evenly;
      height:180px;
      margin:80px;
}

.small_box{
      display:flex;
      align-items:center;
      justify-content:center;
      padding: 15px;
      border: 2px solid rgb(255, 145, 0);
      background: rgb(221, 175, 24);
      margin:2em;
      font-weight:bold;
      color:rgb(184, 23, 23);
}

#image_item_2{
    background-image: url("images/how_it_work.jpg");
}

#image_item_3{
      background-image: url("images/super-deduction-BKL.jpeg");
}

.account{
      display:grid;
      grid-template-columns:500px 500px 500px;
      justify-content:space-evenly;
      height:350px;
      margin:80px; 
}

.sign_box{
      display:flex;
      align-items:center;
      justify-content:center;
      padding: 15px;
      background: white;
      margin:2em;
      border:2px solid orange;
      color: orange
}

#text_box{
      display:flex;
      color:orangered;
      align-items:center;
      justify-content:center;
      flex-direction:column;
}

#sign_in{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:contain;
    color: orange 
}

#sign_up{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:contain;
    color: orange;
}





  
